@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --charlotte-green: rgb(0, 80, 53);
  --niner-gold: rgb(164, 150, 101);
  --quartz-white: rgb(255, 255, 255);
  --jasper: rgb(241, 230, 178);
  --pine-green: rgb(137, 144, 100);
  --clay-red: rgb(128, 47, 45);
  --sky-blue: rgb(0, 115, 119);
  --ore-black: rgb(16, 24, 32);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* navbar styles */
header {
  background-color: var(--charlotte-green);
  position: sticky;
  top: 0;
  z-index: 1;
}

nav img {
  max-height: 75px;
}

nav {
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

.nav-links {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  margin: 0 1rem;
  color: var(--quartz-white);
  font-size: 1.1rem;
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--pine-green);
  transition: 0.2s all ease-in-out;
}

.hamburger-nav {
  font-size: 2rem;
  display: none;
}

/* hero text for newEvent, events, and event pages styles */
.starting {
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--quartz-white);
}

/* form styles */
input:focus,
textarea:focus,
select:focus {
  outline: var(--charlotte-green) solid 2px;
}

/* footer styles */
footer {
  background-color: var(--ore-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 0 1rem;
}

footer img {
  height: 50px;
  margin: 1.5rem auto 0;
}

footer p {
    text-align: center;
    color: var(--niner-gold);
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.social-links {
    list-style: none;
}

.social-links a i {
    font-size: 2rem;
}

.footer-hr {
    width: 25%;
    height: 2px;
    border: none;
    background-color: var(--ore-black);
}

/* Media Queries */

@media screen and (max-width: 850px) {
  nav ul {
    display: none;
  }

  .hamburger-nav {
    display: block;
  }
}

@media screen and (max-width: 486px) {
  nav img {
    height: 13vw;
  }
}

@media screen and (max-width: 375px) {
  nav {
    padding: 2rem;
  }

  nav img {
    height: 11vw;
  }

  .hamburger-nav {
    font-size: 1.5rem;
  }
}